@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #161616;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Relative";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Relative-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Relative";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Relative-Book.ttf") format("ttf");
}

@font-face {
  font-family: "Relative";
  font-style: normal;
  font-weight: medium;
  src: url("./assets/fonts/Relative-Medium.ttf") format("ttf");
}

.button {
  color: #161616;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: none;
  background-color: #f1f0ee;
  border: 1px solid #f1f0ee;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  transition: all 0.5s;
}
.button:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }
}
